.legal-link {
  color: var(--link-legal, #37b137);
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
  text-decoration-color: currentColor;
  transition: color 120ms ease-in-out, text-decoration-color 120ms;
  font-weight: 500;
}

.legal-link:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}


