.my-custom-button {
  color: white !important;
  background-color: #37b137 !important;
  border-color: #37b137 !important;
}

.my-custom-button:hover {
  background-color: white !important;
  border-color: #37b137 !important;
  color: #37b137 !important;
}

.nav-link {
  color: black
}

.nav-link:hover {
  color: #f5a030 !important
}

.active {
  color: #37b137 !important;
}

.about-underline {
  background-image: linear-gradient(to right, #37b137 0 0);
  /* Color of the underline */
  background-position: bottom center;
  /* Position of the underline */
  background-size: 9% 2px;
  /* Adjust length (80%) and thickness (2px) */
  background-repeat: no-repeat;
  padding-bottom: 4px;
  /* Adjust vertical offset */
}

.icon-sm {
  width: 48px;
  height: 48px;
  object-fit: contain;
}