/*extras for navpanel*/
.active-text {
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.5px;
  background-color: #ece5dd;
  color : #F0A235
}
.inactive-text {
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.5px;
  color : rgb(36, 137, 16);
}