.form-check-input {
    accent-color: black !important;
  }
  .input.is-valid {
    border-color: #28a745 !important;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
  }
  .react-tel-input .form-control {
    height: calc(2.25rem + 2px) !important;
    font-size: 1rem !important;
    padding: 0.375rem 0.75rem !important;
    border: 1px solid #ced4da !important;
    width: 100% !important;
    box-sizing: border-box !important;
    padding-left: 50px !important;
  }
  .react-tel-input .form-control:focus {
    border-color: #28a745 !important;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
  }
  .phone-input-container .flag-dropdown {
    border: 1px solid #ced4da !important;
    border-radius: 0.375rem 0 0 0.375rem !important;
  }
  .react-tel-input .selected-flag .dial-code {
    margin-left: 8px !important;
    font-size: 0.95rem;
    color: #495057;
  }
  .flag-dropdown .custom-input-focus:focus {
    border-color: #28a745 !important;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
  }
  
  .register-text {
    color: #ffffff;
  }
  .signup-form-section {
    background-color: #1f1f1f;
  }